<nav class="navbar">

  <a href="index.html">Home</a>

  <!-- DANCERS DROPDOWN -->
  <div class="dropdown">
    <a href="dancers.html" class="active">Dancers</a>
    <div class="dropdown-menu">
      <a href="battle.html">Battle</a>
    </div>
  </div>

  <!-- DJS DROPDOWN -->
  <div class="dropdown">
    <a href="djs.html">DJs</a>
    <div class="dropdown-menu">
      <a href="battle.html">Battle</a>
    </div>
  </div>

  <a href="vote.html">Vote</a>
  <a href="merch.html">Merch</a>

</nav>
